{
    "extends": "eslint:recommended",
    "globals": {
        "$": true,
        "jQuery": true,
        "angular": true,
        "_": true,
        "define": true
    },
    "env": {
        "node": true,
        "browser":true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        //"sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        // Possible Errors
        "no-extra-parens": "error",
        "no-prototype-builtins": "error",
        "no-unexpected-multiline": "error",
        "no-unsafe-negation": "error",
        "valid-jsdoc": "error",


    "array-callback-return": "error",
        "block-scoped-var": "error",
        "class-methods-use-this": "error",
        "complexity": ["error", 10],
        "consistent-return": "error",
        "curly": "error",
        "default-case": "error",
        "dot-location": ["error", "property"],
        "dot-notation": "error",
        "eqeqeq": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-empty-function": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-label": "error",
        "no-floating-decimal": "error",
        "no-global-assign": "error",
        "no-implicit-coercion": "error",
        "no-implicit-globals": "error",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-magic-numbers": ["error", {"ignore": [-1, 0, 1, 2, 10, 24, 60, 100, 1000, 1024, 3600]}],
        "no-multi-spaces": "error",
        "no-multi-str": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-new": "error",
        "no-octal-escape": "error",
        "no-param-reassign": "error",
        "no-proto": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-unused-expressions": "error",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-useless-escape": "error",
        "no-void": "error",
        "no-warning-comments": "error",
        "no-with": "error",
        "radix": "error",
        "vars-on-top": "error",
        "wrap-iife": ["error", "inside"],
        "yoda": "error",

        // Strict Mode
        "strict": ["error", "global"],

        // Variables
        "no-catch-shadow": "error",
        "no-delete-var": "error",
        "no-label-var": "error",
        "no-restricted-globals": "error",
        "no-shadow-restricted-names": "error",
        "no-shadow": "error",
        "no-undef-init": "error",
        "no-unused-vars": ["error", { "vars": "all" }],
        "no-use-before-define": "error",

        // Node.js and CommonJS
        "global-require": "error",
        "no-process-env": "error",

        // Stylistic Issues
        "array-bracket-spacing": ["error", "never"], // Conflict with space-before-keywords when keyword in array (ex: [function)
        "block-spacing": "error",
        "brace-style": "error",
        "comma-dangle": ["error", "never"],
        "comma-style": ["error", "last"],
        "comma-spacing": ["error", {"before": false, "after": true}],
        "computed-property-spacing": ["error", "never"],
        "consistent-this": ["error", "self"],
        "eol-last": "error",
        "func-call-spacing": ["error", "never"],
        "func-names": "error",
        "func-style": ["error", "declaration"],
        "id-length": ["error", {"min": 2, "max": 35, "properties": "always", "exceptions": ["x", "y", "z", "i", "j", "k"]}],
        "indent": ["error", 4, { "MemberExpression": 1, "FunctionDeclaration": {"parameters": "first"} }],
        "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
        "keyword-spacing": "error",
        "linebreak-style": ["error", "unix"],
        "max-depth": ["error", 4],
        "max-len": ["error", 110, { "ignoreUrls": true }],
        "max-lines": ["error", 250],
        "max-nested-callbacks": ["error", 3],
        "max-params": ["error", 5],
        //"max-statements": ["error", 10],
        "multiline-ternary": ["error", "never"],
        "new-cap": ["error", { "capIsNew": true, "newIsCap": true }],
        "new-parens": "error",
        "newline-after-var": ["error", "always"],
        "newline-before-return": "error",
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 3 }],
        "no-array-constructor": "error",
        "no-bitwise": "error",
        "no-continue": "error",
        "no-lonely-if": "error",
        // "no-mixed-operators": "error", // conflict with no-unnecessary-parens
        "no-multiple-empty-lines": ["error", {"max": 1}],
        "no-negated-condition": "error",
        "no-nested-ternary": "error",
        "no-new-object": "error",
        "no-tabs": "error",
        "no-trailing-spaces": "error",
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "error",
        "object-curly-newline": ["error", { "multiline": true }],
        "object-curly-spacing": ["error", "never"],
        "one-var-declaration-per-line": ["error", "initializations"],
        "one-var": ["error", {"uninitialized": "always"}],
        "operator-assignment": ["error", "always"],
        "operator-linebreak": ["error", "before", {"overrides": {"=": "after", "?": "none"}}],
        "padded-blocks": ["error", "never"],
        "quote-props": ["error", "as-needed", {"keywords": true, "numbers": true}],
        "quotes": ["error", "double"],
        "require-jsdoc": "error",
        "semi-spacing": "error",
        "semi": "error",
        "sort-keys": "error",
        "sort-vars": "error",
        "space-before-blocks": "error",
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": ["error", {"words": true, "nonwords": false}],
        "spaced-comment": ["error", "always"],

        // ES 6
        "arrow-parens" : ["error", "as-needed"],
        "arrow-spacing": ["error", {"before": true, "after": true}],
        "no-duplicate-imports": "error",
        "no-useless-rename": "error",
        "no-var": "error",
        "object-shorthand": "error",
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "prefer-numeric-literals": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "rest-spread-spacing": ["error", "never"],
        "template-curly-spacing": ["error", "never"]
    }
}